:root {
    --source-color: #a2c1fa;
    --target-color: #32a852;
    --glow-color: #edd774;
    --back-color: #f8f9fa;
    --good-hint-color: #afeeee;
    --bad-hint-color: #ff6347;
}

body{
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: var(--back-color);
}

.button-16 {
    text-align: left;
    background-color: var(--back-color);
    border: 1px solid var(--back-color);
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.button-16.good-word {
    background-color: var(--good-hint-color);
}

.button-16.bad-word {
    background-color: var(--bad-hint-color);
}

.word-panel .button-16 {
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    white-space: pre;
    height: 100%;
}

.source-word {
    color: var(--source-color);
}

.target-word {
    color: var(--target-color);
}

.current-word {
    font-size: 20px;
    font-weight: bold;
}

.arrow {
    color: #d9d9d9;
    padding: 0px;
    margin: 0px;
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
}

.map-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.map-subsection {
    vertical-align: bottom;
    display:table-cell;
}


.vert-center {
    justify-content: center; /* Vertically centers the items */
    /* Other styling for the container */
}

dialog {
    padding: 1.5rem;
    border: 1px solid #666;
    border-radius: .4rem;
    max-width: 90%;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: var(--back-color);
}

dialog::backdrop {               /* backdrop is automatically added */
    background: rgba(0,0,0,.5);
}

.dialog-selectbtn {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: auto;
}

.dialog-selectbtn button {
    flex: 1 1 0;
    max-width: 100%;
}

.fixed‑list {
    height: 180px;               /* fixed space */
    overflow-y: auto;            /* scroll when needed */
    padding: .5rem;
    /* border: 1px solid #ccc; */
    /* background:#fafafa; */
}

/* make the words wrap onto new lines */
.wrap {
    display: flex;
    flex-wrap: wrap;            /* flow to next line when line is full */
    align-items: baseline;
}

.item {
    /* space before the next word */
    margin-right: .4em;
}

/* add a comma after every item except the last one */
.item:not(:last-child)::after {
    content: ", ";
}

