<!DOCTYPE html>
<html lang="en">
<head>
  <title>Word Embedding Golf</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"></script> -->
  <script type="application/text" id="graph_gzip_base64">{{graph_gzip_base64}}</script>
  <script type="module" src="main.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<dialog id="game_start_dialog">
    <h2>Word Embedding Golf!</h2>
    <p>Select a difficulty and press the button!</p>
    <div class="dialog-selectbtn">
      <select id="game_start_dialog_difficulty_select">
        <option value="easy">Easy</option>
        <option value="hard">Hard</option>
      </select>
      <button id="game_start_dialog_start_btn" class="button-16">Begin!</button>
      <button id="help_btn" class="button-16">What is this?</button>
    </div>
</dialog>
<dialog id="help_dialog">
    <h2>What Is This</h2>
    <p>Welcome to <u>Word Embedding Golf!</u></p>
    <p>This game is an educational tool learned to show you how the
      computer itself sees words and the relationship between them.
    </p>
    <p>
      This game is based off of the
      <a href="https://nlp.stanford.edu/data/glove.6B.zip">
        GLOVE
      </a>
      word embedding space, while the list
      of words themselves is based off Google's
      <a href = "https://raw.githubusercontent.com/first20hours/google-10000-english/refs/heads/master/google-10000-english-no-swears.txt">
        most common words list
      </a>
      . You start with a word. Below are twenty buttons corresponding to the
      twenty words with the closest embedding as seen by GLOVE to the current
      word. In other words, these twenty words are closest in meaning to the
      current word, as understood by the GLOVE embedding space.
    </p>
    <p>
      Your job is to get from the starting word to the end word using jumps to
      the nearest neighbors. In the upper right you will see a map based off a
      TSNE embedding of the latent space, showing your starting word, target
      word, and the path taken.
    </p>
    <p>
      In Easy mode, unproductive words are marked in red. These are words that
      do not bring you closer to the target word. They may take your farther, or
      may take you to a word that is equally distant from the target.

      In hard mode you don't get these hints.
    </p>
    <button id="help_dialog_close_btn" class="button-16">Close</button>
</dialog>
<dialog id="game_end_dialog">
    <h2>Game ended!</h2>
    <p>It took you <span id="game_end_dialog_n_steps">42</span> steps!</p>
    <p>
      The shortest path from
      <span id="game_end_dialog_source">Baldurdash</span>
      to
      <span id="game_end_dialog_target">Tiramisu</span>
      takes
      <span id="game_end_dialog_n_shortest_path">42</span>
      steps!
    </p> <!--  -->
    <button id="game_end_dialog_view_path" class="button-16">
        View paths
    </button>
    <button id="game_end_dialog_start_btn" class="button-16">
        Start a new game!
    </button>
    <!-- This line is problematic, we'd need to figure out edgecases -->
    <!-- <p>You visited the word <span id="game_end_dialog_most_visited">Baldurdash</span> <span id="game_end_dialog_n_visited">42</span> times!</p> -->
</dialog>
<dialog id="path_dialog">
    <h2>Paths</h2>
    <div class="fixed‑list">
        <h3>Your path</h3>
        <div class="wrap" id="wrap_div"></div>
        <h3>Shortest path</h3>
        <div class="wrap" id="shortest_path_div"></div>
    </div>
    <button id="path_dialog_back_btn" class="button-16">
        Back
    </button>
</dialog>
<div class="container-fluid pt-5 pb-5 pl-5 pr-5 main-div" style="max-width: 500px;">
  <div class="row pb-2">
    <div class="col-4" id="game-state-div" style="background-color:transparent; display:table;">
      <div class="map-subsection">
        <div class="map-section">
          <button
            type="button"
            class="button-16"
            id="hint_btn">
            Hint
          </button>
        </div>
        <div class="map-section"><hr></div>
        <div id="source" class="source-word map-section"></div>
        <div class="arrow map-section">&#x2304;</div>
        <div id="current" class="map-section current-word"></div>
        <div class="arrow map-section">&#x2304;</div>
        <div id="target" class="map-section target-word"></div>
      </div>
    </div>
    <div class="col" id="game-map-div"style="padding:left; margin:0 auto;">
      <canvas id="canvas" style="width:100%; aspect-ratio: 1/1; height:auto;"></canvas>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col" name="game-buttons-div">
      <table class="table table-borderless" style="table-layout:fixed;">
        <tbody>
            {% for tri in range(5) %}
            <tr style="padding:0;">
                {% for tci in range(4) %}
                <td
                  class="text-left word-panel"
                  style="padding:0;align-items:stretch;">
                  <button type="button"
                          class="button-16"
                          style="margin:0;"
                          id="neighbor-btn-{{tri*4 + tci}}"
                  </button>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="module">
    //Boostrapping
    import {
        setup,
        hint_callback,
        word_button_callback,
        game_start_dialog_init,
        game_start_dialog_close,
        game_end_dialog_close,
        game_end_dialog_open_path,
        path_dialog_back
    } from './main.js';

    //Hint button
    document.getElementById('hint_btn').addEventListener('click', hint_callback);

    //Buttons
    for(let i = 0; i < 20; ++i){
        let button_elem = document.getElementById("neighbor-btn-" + i);
        button_elem.addEventListener('click', ev => word_button_callback(ev.currentTarget, ev));
    }

    //Dialog
    document.getElementById("game_start_dialog_start_btn").addEventListener('click', game_start_dialog_close);
    document.getElementById("game_end_dialog_start_btn").addEventListener('click', game_end_dialog_close);
    document.getElementById("game_end_dialog_view_path").addEventListener('click', game_end_dialog_open_path);
    document.getElementById("path_dialog_back_btn").addEventListener('click', path_dialog_back);
    document.getElementById("help_btn").addEventListener('click', () => {
        document.getElementById('help_dialog').showModal();
    });
    document.getElementById("help_dialog_close_btn").addEventListener('click', () => {
        document.getElementById('help_dialog').close();
    });


    //Finally window looad
    window.addEventListener('load', setup)
    window.addEventListener('load', game_start_dialog_init)
</script>

</body>
</html>
